<p id="notice"><%= notice %></p>

<p>
  <strong>Date parking start:</strong>
  <%= @booking.date_parking_start %>
</p>

<p>
  <strong>Date parking end:</strong>
  <%= @booking.date_parking_end %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
