<p id="notice"><%= notice %></p>

<p>
  <strong>Lot:</strong>
  <%= @schedule.lot %>
</p>

<p>
  <strong>Date parking start:</strong>
  <%= @schedule.date_parking_start %>
</p>

<p>
  <strong>Date parking end:</strong>
  <%= @schedule.date_parking_end %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
