<%= form_with(model: ticket, local: true , class: "container") do |form|%>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group align-items-center">
    <%= form.label :Selecciona_tu_automovil , class:"label-lg pr-2" %>
    <%= form.select :car_id, options_for_select(current_user.cars.map{|s|[s.plate,s.id]}),{class: 'selectpicker'}%>
  </div>

  <%= form.fields_for :events do |events_form| %>
    <%= render 'events/events_fields', events_form: events_form %>
  <%end %>


  <div class="form-group">
    <%= form.label :total %>
    <%= form.number_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
