
<p id="notice"><%= notice %></p>

<h1>Lots</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Lot column</th>
      <th>Lot row</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.lot_column %></td>
        <td><%= lot.lot_row %></td>
        <td><%= link_to 'Show', lot %></td>
        <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
        <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lot', new_lot_path %> -->

<div id="root" class="container text-center"></div>

